* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #555353;
  color: #333;
  line-height: 1.6;
}

#cabeca {
  border: #158a29 solid;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  color: rgb(119, 113, 113);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 32px;
  z-index: 1000;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

nav.scrolled {
  background: #477a50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav .logo {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

nav ul li a {
  color: rgb(153, 148, 148);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #a3d2ca;
}

header {
  background: url("https://i.pinimg.com/1200x/ea/28/01/ea28010e5411734f4a17b630c74d9729.jpg") no-repeat center center/cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(33, 226, 58, 0.582);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  padding: 0 16px;
  padding-top: 60px;
  text-align: center;
  display: flex;
  margin: 10px auto;
  border: #158a29 solid 8px;
  border-radius: 10px;
}

header h1 {
  font-size: 48px;
  max-width: 700px;
  line-height: 1.2;
  animation: fadeInDown 1.5s ease forwards;
  display: flex;
  margin: 10px auto;
}

.container {               
  
  
  max-width: 12000;

  padding: 0 20px;
}

.container img {
  font-size: 16px;
  display: inline-block;
  width: 380px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.container :hover {

  transform: scale(1.1);

}

section h2 {
  color: #0b4609;
}

.bla {
  max-width: 12000;
  margin: 0px;
  padding: 0 2 0px;
  display: flex;
  margin: 1px;
}

.bla img {
  font-size: 16px;
  display: inline-block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.bla :hover {
  transform: scale(1.1);
}

h2 {
  color: #0b4609;
  font-family: Arial, Helvetica, sans-serif;
  margin: 6px;
}

.shader {
  max-width: 12000;
  padding: 0 2 0px;
  display: flex;
  margin: 1px;
  margin: 140px;
}

.shader img {
  font-size: 16px;
  display: inline-block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  margin: 140px;

}
.shader :hover{
  transform: scale(1.1);
}
.imagem {
  margin-left: auto;
}